# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# macOS system files
.DS_Store

# Log files
*.log

# UCC Framework output file
# output/